/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Poppins', sans-serif; */

*{
    padding: 0;
    margin: 0;
   
}

body{
    background-color: rgb(254, 236, 225);
}

h1{
    font-family: 'Poppins', sans-serif;

}

.container{
    width: 90%;
    /* background-color: aqua; */
    margin: auto;
    max-width: 1000px;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

h4{
    font-family: 'Montserrat', sans-serif;
}

#dice{
    width: 50px;
    display: block;
    padding: 10px 0;
}

#game div{
    width: 30px;
    height: 30px;
    background-color:rgb(243, 166, 203);
    border-radius: 30px;
    position: absolute;
    bottom: 0%;
    left: 0;
    transform: translate(50%,-50%);
    transition: 0.3s;

}

#game #bot{
    background-color: rgb(171, 171, 255);
}

#game{
    position: relative;
    background-color: aqua;
    width: 100%;
    max-width: 600px;
    display: inline-block;
}

#map{
    width: 100%;
    display: block;
}

#dice{
    transition: 2s;
    transition-timing-function: ease-out;
}

h2{
    opacity: 0;
    width: 100%;
    font-size: larger;
    color: red;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
button{
    color: brown;
    background-color: rgb(211, 79, 79);
    border-radius: 6px;
    width: 100px;
    font-size: large;
    border: solid rgb(211, 79, 79) 12px;
}

#gamecont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}